{% extends 'base.html' %}
{% load static %}
{% block title %}Detalhes da Anotação{% endblock title %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row align-items-center mb-4">
        <div class="col-md-8">
            <h1 class="h3 fw-bold">Anotação - Curso: {{ note.course }}</h1>
        </div>
        <div class="col-md-4 text-end">
            <a href="{% url 'note-list' object.course_id %}" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left me-2"></i>
                Voltar para a Lista
            </a>
        </div>
    </div>

    <div class="card shadow-sm border-0">
        <div class="card-header bg-light border-bottom">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="h5 fw-bold mb-0 text-dark">{{ note.title|title }}</h2>
                <div class="d-flex">
                    <a href="{% url 'note-update' course_id=note.course.id pk=note.id %}" class="btn btn-sm btn-outline-primary me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar Anotação">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="{% url 'note-delete' course_id=note.course.id pk=note.id %}" class="btn btn-sm btn-outline-danger me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir Anotação">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a href="{% url 'note_report' note.id %}" target='_blank' rel='noopener noreferrer' class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Gerar PDF">
                        <i class="bi bi-filetype-pdf"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body bg-white text-muted">
            <div class="p-3">
                {{ note.formatted_content|safe }}
            </div>
        </div>
        <div class="card-footer bg-light text-muted border-top text-sm">
            <p class="mb-0">
                <span class="me-3">Criado por: <strong class="text-dark">{{ note.user|title }}</strong></span>
                <span class="me-3">Em: <strong class="text-dark">{{ note.created_at|date:"d M Y" }}</strong></span>
                <span>Última alteração: <strong class="text-dark">{{ note.updated_at|date:"d M Y" }}</strong></span>
            </p>
        </div>
    </div>
</div>

{% endblock content %}
