{% extends 'base.html' %}
{% load static %}

{% block title %}
PyPessoal - Dashboard
{% endblock title %}

{% block content %}
<h1 class="h4">Dashboard</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
</ol>

<h2 class="h5">Financeiro</h2>
<div>
    {% include "home/components/_finance_metrics.html" %}
</div>
<div>
    {% include "home/components/_finance_grafics.html" %}
</div>
<div>
    {% include "home/components/_finance_method.html" %}
</div>

<h2 class="h5">Cursos e Anotações</h2>
<div>
    {% include "home/components/_courses_metrics.html" %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- grafico de despesas no mes -->
<script>
    var ctx = document.getElementById("expenses-month");
    var labels_mes = JSON.parse('{{ labels_month|safe }}');
    var data_mes = JSON.parse('{{ data_month|safe }}');

    var expensesMonthChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels_mes,
            datasets: [{
                label: 'Despesas',
                data: data_mes,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)',
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(255, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(255, 192, 192, 0.5)',
                    'rgba(255, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: false,
                text: 'Despesas no Mes',
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            plugins: {
                legend: {
                    labels: {
                        font: {
                            size: 16
                        }
                    }
                }
            },
            layout: {
                padding: 0
            }
        }
    });
</script>

<!-- grafico de revenues e despesas no ano -->
<script>
    var ctx = document.getElementById("expenses-revenues-year");
    var labels_year = JSON.parse('{{ labels_year|safe }}');
    var data_expenses_year = JSON.parse('{{ data_expenses_year|safe }}');
    var data_revenues_year = JSON.parse('{{ data_revenues_year|safe }}');
    var expensesYearChart = new Chart(ctx, {
        type: 'scatter',
        data: {
            labels: labels_year,
            datasets: [
                {
                    type: 'line',
                    label: 'Receitas',
                    data: data_revenues_year,
                    borderColor: 'rgba(54, 162, 235, 1)',
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderWidth: 1
                },
                {
                    type: 'bar',
                    label: 'Despesas',
                    data: data_expenses_year,
                    borderColor: 'rgba(255,99,132,1)',
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    borderWidth: 1
                },
            ]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: false,
                text: ' Receitas e Despesas no Ano',
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            plugins: {
                legend: {
                    labels: {
                        font: {
                            size: 16
                        }
                    }
                }
            },
            layout: {
                padding: 0
            }
        }
    });
</script>

<script>
    var ctx = document.getElementById("method-grafic");
    var labels_method = JSON.parse('{{ labels_method|safe }}');
    var data_method = JSON.parse('{{ data_method|safe }}');
    var methodChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: labels_method,
            datasets: [{
                data: data_method,
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend: {
                    labels: {
                        font: {
                            size: 16
                        }
                    }
                }
            }
        }
    });
</script>
{% endblock content %}