{% extends 'base.html' %}
{% load static %}
{% block title %}Transferencia{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

<h1 class="h4">Transferencia</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'transactions' %}">Transações</a></li>
    <li class="breadcrumb-item active">Transferencia</li>
</ol>

<div class="d-flex align-items-center justify-content-center">
    <div class="col-md-10 col-lg-10">
        <div class="border border-dark border-1 rounded-2 shadow p-3 mb-2">
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.transaction_date | as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.account_origin | as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.account_destination| as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.category | as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.transaction_value | as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.description | as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary me-3">
                        <i class="bi bi-check2-circle me-2"></i>
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}