{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        {% block title %}{% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static 'css/datatables.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    
    {% block extra_css %} {% endblock %}
</head>

<body class='bg-dark-custom text-white'>
    <div class="container mt-4 p-4">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="h2 mb-2">
                        Sistema de Gerenciamento Pessoal
                    </h1>
                    <p class="lead fw-normal mb-4">
                        Conjunto de ferramentas e recursos que ajudam a organizar e
                        gerenciar sua vida pessoal, incluindo finanças, tarefas, anotações e muito mais.
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg shadow px-4 me-sm-3" href="{% url 'login' %}">
                            <i class="bi-box-arrow-in-right me-2"></i>
                            Login
                        </a>
                        <a class="btn btn-outline-primary shadow btn-lg px-4" href="{% url 'register' %}">
                            <i class="bi-person-plus me-2"></i>
                            Registrar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center mt-3">
                <img class="img-fluid rounded-3" src="{% static 'images/capa.png' %}" alt="..." />
            </div>
        </div>
    </div>
</body>
</html>