<!-- grafics -->
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card card-border-primary">
            <div class="card-header h6">Despesas no mes</div>
            <div class="card-body">
                <canvas id="expenses-month"></canvas>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-border-primary">
            <div class="card-header h6">Receitas e Despesas no ano</div>
            <div class="card-body">
                <canvas id="expenses-revenues-year"></canvas>
            </div>
        </div>
    </div>
</div>