<!-- grafics -->
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card card-border-primary">
            <div class="card-header h6">Método 50-30-20</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th class="table-col-valor">Previsto</th>
                                <th class="text-end">%</th>
                                <th class="table-col-valor">Realizado</th>
                                <th class="text-end">%</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <td>Receitas</td>
                                <td class="table-col-valor">{{finance_method.revenues | floatformat:2}}</td>
                                <td></td>
                                <td class="table-col-valor">{{finance_method.revenues | floatformat:2}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Esseciais</td>
                                <td class="table-col-valor">{{finance_method.essential_prev | floatformat:2}}</td>
                                <td class="text-end">50</td>
                                <td class="table-col-valor">{{finance_method.essential_real | floatformat:2}}</td>
                                <td class="text-end">{{finance_method.essential_perc | floatformat:0}}</td>
                            </tr>
                            <tr>
                                <td>Superfluos</td>
                                <td class="table-col-valor">{{finance_method.superfluous_prev | floatformat:2}}</td>
                                <td class="text-end">30</td>
                                <td class="table-col-valor">{{finance_method.superfluous_real | floatformat:2}}</td>
                                <td class="text-end">{{finance_method.superfluous_perc | floatformat:0}}</td>
                            </tr>
                            <tr>
                                <td>Dividas/Investimentos</td>
                                <td class="table-col-valor">{{finance_method.investments_prev | floatformat:2}}</td>
                                <td class="text-end">20</td>
                                <td class="table-col-valor">{{finance_method.investiments_real | floatformat:2}}</td>
                                <td class="text-end">{{finance_method.investiments_perc | floatformat:0}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-border-primary">
            <div class="card-header h6">Método 50-30-20 - ( % sobre receitas )</div>
            <div class="card-body">
                <canvas id="method-grafic"></canvas>
            </div>
        </div>
    </div>
</div>