{% extends 'base.html' %}
{% load static %}

{% block title %}PyPessoal - Exclusão de Assunto{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

<div class="row mb-2 mt-4 border-bottom border-dark pb-2 align-items-center">
    <div class="col-12 col-md-6">
        <h1 class="h5">Exclusão de Assunto</h1>
    </div>
    <div class="col-12 col-md-6">
        <a href="{% url 'subjects' %}" class="btn btn-outline-success shadow float-end">
            <i class="bi bi-card-list me-2"></i>
            Lista de Assuntos
        </a>
    </div>
</div>


<div class="d-flex align-items-center justify-content-center mt-5">
    <div class="col-md-8 col-lg-8">
        <div class=" card shadow">
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="h5 mt-3 mb-3">Tem certeza que deseja excluir o assunto ?</div>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control fs-4 text-danger" name="title" type="text"
                                value="{{ subject.title }}" disabled readonly>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger mt-5">
                        <i class="bi bi-trash me-2"></i>
                        Confirmar Exclusão
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}