{%extends 'base.html'%}
{% load static %}
{% block title %}Lista de Anotações do Curso{% endblock title %}
{%block content%}

<div class="card-header-custom">
    <div class="row">
        <div class="col-12">
            <div class="text-wrap">
                <div class="d-flex justify-content-between">
                    <h2 class="h4 text-primary">
                        {{ course.title |truncatewords:12 }}
                    </h2>
                    {% comment %} <a href="{% url 'courses' %}" class="btn btn-secondary h3">
                        <i class="bi-arrow-left-square me-2"></i>
                        Retornar
                    </a> {% endcomment %}
                </div>

                <p>
                    {{ course.description|safe |truncatewords:20}}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <h5><span class="badge text-bg-secondary">
                            {{ course.subject }}
                        </span>
                    </h5>
                    <span>
                        <i class="bi-person-check me-2"></i>
                        {% if course.user.first_name %}
                        {{ course.user.first_name | title }}
                        {{ course.user.last_name | title }}
                        {% else %}
                        {{ course.user | title }}
                        {% endif %}
                    </span>
                    <span>
                        <i class="bi-calendar-check me-2"></i>
                        Criado:
                        {{ course.create_at|date:"d M Y" }}
                    </span>
                    <span>
                        <i class="bi-calendar-check me-2"></i>
                        Alterado:
                        {{ course.update_at|date:"d M Y" }}
                    </span>

                    <a href="{% url 'courses' %}" class="btn btn-secondary">
                        <i class="bi-arrow-left-square me-2"></i>
                        Retornar para cursos
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
    <h1 class="h5 text-primary">Anotações</h1>

    <button hx-get="{% url 'add_note' course.id %}" hx-target="#dialog" class="btn btn-success">
        <i class="bi-plus-circle me-2"></i>
        Adicionar anotação
    </button>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="table-col-descricao">Titulo</th>
                <th class="table-col-150">Data Criação</th>
                <th class="table-col-acoes">Ação</th>
            </tr>
        </thead>
        <!-- load aulaList with HTMX -->
        <tbody hx-trigger="load, noteListChanged from:body" hx-get="{% url 'note_list' course.id %}" hx-target="this">
            <tr>
                <td class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Placeholder for the modal -->
<div id="modal" class="modal fade" data-bs-backdrop="static">
    <div id="dialog" class="modal-dialog modal-lg" hx-target="this">
    </div>
</div>

<!-- Empty toast to show the message -->
<div class="toast-container position-absolute top-50 start-50 translate-middle">
    <div id="toast" class="toast align-items-center text-white bg-success " role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="toast-header">
            <i class="bi-info-circle me-2 fs-5"></i>
            <strong class="me-auto fs-5">Anotação</strong>
            <small class="text-body-secondary">{% now "d M Y H:i" %}</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="toast-body" class="toast-body fs-5">

        </div>
    </div>
</div>
{%endblock content%}

{% block scripts %}
<script>
    ; (function () {
        const modal = new bootstrap.Modal(document.getElementById("modal"))

        htmx.on("htmx:afterSwap", (e) => {
            // Response targeting #dialog => show the modal
            if (e.detail.target.id == "dialog") {
                modal.show()
            }
        })

        htmx.on("htmx:beforeSwap", (e) => {
            // Empty response targeting #dialog => hide the modal
            if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
                modal.hide()
                e.detail.shouldSwap = false
            }
        })

        // Remove dialog content after hiding
        htmx.on("hidden.bs.modal", () => {
            document.getElementById("dialog").innerHTML = ""
        })
    })()
</script>
<script>
        ; (function () {
            const toastElement = document.getElementById("toast")
            const toastBody = document.getElementById("toast-body")
            const toast = new bootstrap.Toast(toastElement, { delay: 2000 })

            htmx.on("showMessage", (e) => {
                toastBody.innerText = e.detail.value
                toast.show()
            })
        })()
</script>
{% endblock scripts %}