{% extends 'base.html' %}
{% load static %}
{% block title %}
Exclusão de Curso
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

<div class="d-flex align-items-center justify-content-center full-height">
    <div class="col-md-10 col-lg-10">
        <div class="card shadow">
            <div class="card-header text-primary h4">
                Exclusão de Curso
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="h5 mt-3 mb-3 text-danger">Tem certeza que deseja excluir o curso ?</div>
                    <div class="row">
                        <div class="col-md-8">
                            <label class="form-label">Titulo</label>
                            <input class="form-control fs-4" type="text" value="{{ course.title }}" disabled readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Assunto</label>
                            <input class="form-control fs-4" type="text" value="{{ course.subject}}" disabled readonly>
                        </div>
                    </div>
                    <div class="form-buttons d-flex justify-content-between mt-5">
                        <button type="submit" class="btn btn-danger">
                            <i class="bi-x-circle me-2"></i>
                            Confirmar Exclusão
                        </button>
                        <a href="{% url 'courses' %}" class="btn btn-secondary">
                            <i class="bi-arrow-return-left me-2"></i>
                            Retornar para Lista sem excluir
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}