{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block login %}
{% load crispy_forms_tags %}

<div class="row align-items-center justify-content-center full-height">
    <div class="col-md-4 col-lg-4">
        {% include "mensagens.html" %}
        <div class="card shadow">
            <div class="card-header">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                Acessar o sistema
            </div>
            <div class="card-body">
                <form method="post" novalidate autocomplete="off">
                    {% csrf_token %}
                    {% for f in form %}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ f | as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-lg btn-primary mt-3">
                            <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            Login
                        </button>
                    </div>
                    <div class="form-buttons">
                        <hr>
                        <p class="mt-2">
                            Esqueceu sua senha ?
                            <a href="{% url 'password-reset' %}" class="text-primary fw-bold text-decoration-none ms-2">
                                Redefina sua Senha
                            </a>
                        </p>
                        <p>
                            Não tem uma Conta ?
                            <a href="{% url 'register' %}" class="text-primary fw-bold text-decoration-none ms-2">
                                Registre-se
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}