{%extends 'base_home.html'%}
{% load static %}
{% block title %}PyPessoal - Redefinir senhar{% endblock title %}

{% block content %}
<div class="d-flex align-items-center justify-content-center login mt-5">
    <div class="col-md-6 col-lg-6">
        <div class="card shadow">
            <div class="card-header">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                Redefinir Senha
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label_tag }}</label>
                        <input type="email" name="email" autocomplete="email" maxlength="254"
                            class="emailinput form-control" required id="id_email">
                        <!-- {{ field }} -->
                        {% if field.errors %}
                        <small>{{ field.errors|striptags }}</small>
                        {% endif %}
                    </div>

                    {% endfor %}
                    <div class="form-buttons mt-3">
                        <button type="submit" class="btn btn-primary me-3">
                            <i class="bi bi-check-lg me-2"></i>
                            Enviar Solicitação
                        </button>
                        <a href="{% url 'login' %}" class="btn  btn-secondary">
                            <i class="bi bi-arrow-repeat me-2"></i>
                            Cancelar Solicitação
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}