{% extends 'base.html' %}
{% load static %}
{% block title %}Alterar Senha{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<div class="d-flex align-items-center justify-content-center full-height">
    <div class="col-md-4 col-lg-4">
        <h1 class="h3">Alterar Senha</h1>
        <div class="card shadow">
            <div class="card shadow">
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% for f in form %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    {{ f | as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-buttons">
                            <button type="submit" class="btn btn-lg btn-primary me-3 mt-3">
                                <i class="bi-check2-circle me-2"></i>
                                Alterar Senha
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}