{%extends 'base_home.html'%}
{% load static %}
{% block title %}PyPessoal - Solicitação Enviada{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}
<div class="d-flex align-items-center justify-content-center login mt-5">
    <div class="col-md-6 col-lg-6">
        <div class="card shadow">
            <div class="card-header">
                <i class="fa-regular fa-paper-plane"></i>
                Solicitação enviada
            </div>
            <div class="card-body">
                <h4 class="mt-3 mb-5 text-primary">
                    <i class="bi-send me-2"></i>
                    Sua solicitação para mudança de senha foi enviada.
                </h4>
                <h5 class="mb-5">
                    Por favor verifique sua caixa de entrada de email e siga as instruções para resetar sua senha.
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}