{%extends 'base_home.html'%}
{% load static %}
{% block title %}PyPessoal - Mudança de senha completa{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

<div class="d-flex align-items-center justify-content-center login mt-5">
    <div class="col-md-6 col-lg-6">
        <div class="card shadow">
            <div class="card-header">
                <i class="fa-solid fa-key"></i>
                Senha Alterada
            </div>
            <div class="card-body">
                <p>
                    Sua senha foi alterada com sucesso. Por favor faça login novamente.
                </p>
                <a href="{% url 'login' %}" class="btn btn-primary">
                    <i class="bi-box-arrow-in-right me-2"></i>
                    Login
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}