{% extends 'base.html' %}
{% load static %}
{% block title %}Mudança de Senha Completa{% endblock title %}

{% block login %}
{% load crispy_forms_tags %}

<div class="d-flex align-items-center justify-content-center full-height">
    <div class="col-md-6 col-lg-6">
        <div class="card shadow">
            <div class="card shadow">
                <div class="card-header">
                    <i class="fa-solid fa-key"></i>
                    Senha Alterada
                </div>
                <div class="card-body">
                    <p>
                        Sua senha foi alterada com sucesso. Por favor faça login novamente.
                    </p>
                    <a href="{% url 'login' %}" class="btn btn-primary">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}