{% extends 'base.html' %}
{% load static %}
{% block title %}Solicitar Troca de Senha{% endblock title %}

{% block content %}
<div class="d-flex align-items-center justify-content-center full-height">
    <div class="col-md-6 col-lg-6">
        <h1 class="h3">Solicitar troca de senha</h1>
        <div class="card shadow">
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label_tag }}</label>
                        <input type="email" name="email" autocomplete="email" maxlength="254"
                            class="emailinput form-control" required id="id_email">
                        <!-- {{ field }} -->
                        {% if field.errors %}
                        <small>{{ field.errors|striptags }}</small>
                        {% endif %}
                    </div>

                    {% endfor %}
                    <div class="form-buttons mt-3">
                        <button type="submit" class="btn btn-lg btn-primary me-3">
                            <i class="bi-send me-2"></i>
                            Enviar Solicitação
                        </button>
                        <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">
                            <i class="bi-x-circle me-2"></i>
                            Cancelar Solicitação
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}