{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        {% block title %}{% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static 'global/css/datatables.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/styles.css' %}" />

    {% block extra_css %} {% endblock %}
</head>

<body class='bg-dark-custom'>
    
    {% block content %}
    
    {% endblock content %}

    <script src="{% static 'global/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'global/js/scripts.js' %}"></script>
</body>
</html>

