{% extends 'base_home.html'%}
{% load static %}

{% block title %}DjStudyBR - Home{% endblock title %}

{%block content%}
<div class="container mt-4 p-4">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
            <div class="my-5 text-center text-xl-start">
                <h1 class="display-6 mb-2">
                    <img class="img-fluid rounded-3" src="{% static 'images/logo.png' %}" alt="..." />
                </h1>
                <p class="lead fw-normal mb-4">
                    <strong>Seu caderno inteligente para os estudos.</strong> 
                    Anote, organize e revise seus cursos de forma prática e eficiente. 
                    Crie um banco de conhecimento personalizado com anotações, 
                    gravações e materiais de estudo. Ideal para estudantes de todos os níveis.                </p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                    <a class="btn btn-primary btn-lg shadow px-4 me-sm-3" href="{% url 'dashboard' %}">
                        <i class="bi-box-arrow-in-right me-2"></i>
                        Login
                    </a>
                    <a class="btn btn-primary shadow btn-lg px-4" href="#">
                        <i class="bi-person-plus me-2"></i>
                        Registrar
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center mt-3">
            <img class="img-fluid rounded-3" src="{% static 'images/capa.png' %}" alt="..." />
        </div>
    </div>
</div>
{% endblock %}