{% extends 'base.html' %}
{% load static %}
{% block title %}
{% if category %}Alteração de {% else %}Nova {% endif %} Categoria
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

<h1 class="h4 mt-4">{% if category %}Alteração de {% else %}Nova {% endif %} Categoria</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'categories' %}">Categorias</a></li>
    <li class="breadcrumb-item active">{% if category %}Alteração de {% else %}Nova {% endif %} Categoria</li>
</ol>

<div class="d-flex align-items-center justify-content-center">
    <div class="col-md-10 col-lg-10">
        <div class="border border-dark border-2 rounded-2 shadow p-3 mb-2">
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.name| as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.group| as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.type| as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.method| as_crispy_field }}
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                </div> -->
                <button type="submit" class="btn btn-primary shadow">
                    <i class="bi bi-check-lg"></i>
                    Salvar
                </button>
            </form>
        </div>
    </div>
    {% endblock %}