{% extends 'base.html'%}
{% load static %}

{% block title %}Lista de Categorias{% endblock title %}

{%block content%}

<h1 class="h5">Categorias</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Categorias</li>
</ol>


<div class="row mb-2">
    <div class="col-12 col-md-8">
        <form action="{% url 'categories' %}" method="get" class="row row-cols-lg-auto g-3 align-items-center mb-3">
            <!-- <div class="d-flex justify-content-between align-items-center"> -->
            <div class="col-12">
                <input type="search" name="search" value="{{request.GET.search}}" placeholder="Perquisar por titulo..."
                    class="form-control me-2" />
            </div>
            <div class="col-12">
                <select class="form-select" name="order">
                    <option value=""> Ordem de Consulta... </option>
                    <option value="name"> Nome </option>
                    <option value="group"> Grupo </option>
                    <option value="type"> Tipo </option>
                    <option value="method"> Método </option>
                </select>
            </div>
            <div class="col-12">
                {% if request.GET.search %}
                <a class="btn btn-secondary me-2" href="{% url 'categories' %}" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Reiniciar Consulta">
                    <i class="bi bi-arrow-repeat"></i>
                </a>
                {% endif %}
                <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Pesquisar">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <!-- </div> -->
        </form>
    </div>

    <div class="col-12 col-md-4">
        <a href="{% url 'category-create' %}" class="btn btn-success shadow float-end">
            <i class="bi bi-plus-circle me-2"></i>
            Nova Categoria
        </a>
    </div>
</div>

{% if categories %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th class="table-col-descricao">Nome</th>
                <th>Grupo</th>
                <th>Tipo</th>
                <th>Método</th>
                <th class="table-col-acoes">Ação</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td class="table-col-descricao">{{ category.name }}</td>
                <td>{{ category.get_group_display }}</td>
                <td>{{ category.get_type_display }}</td>
                <td>{{ category.get_method_display }}</td>
                <td class="table-col-acoes">
                    <a href="{% url 'category-update' category.id %}" class="btn btn-primary btn-sm me-2"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="{% url 'category-delete' category.id %}" class="btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "components/pagination.html" %}
</div>
{% else %}
<div class='fs-3 text-center'>
    <i class="fa-solid fa-comment-slash"></i>
    Nenhuma categoria cadastrada
</div>
{% endif %}

{% endblock content %}